<h1>Horror Books</h1>
    <div id="header" class="scroll">
        <span class="slide">
            <a href=""><img src="../assets/images/h1.jpg" alt="" width="150" height="200"></a>
            <div class="btns" >
                <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
            </div>
        </span>
        <span class="slide">
            <a href=><img src="../assets/images/h2.jpg" alt="" width="150" height="200"></a>  
            <div class="btns" >
                <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
            </div>             
        </span>
        <span class="slide">
            <a href=""><img src="../assets/images/h3.jpg" alt="" width="150" height="200"></a>
            <div class="btns" >
                <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
            </div>
        </span>    
    </div>
    
