    <h1>Fiction Books</h1>
   <div id="header" class="scroll">
        <span class="slide">
            <a href=""><img src="../assets/images/f1.jpg" alt="" width="150" height="200"></a>
            <div class="btns" >
             <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
            </div>
        </span>
        <span class="slide">
            <a href=><img src="../assets/images/f2.jpg" alt="" width="150" height="200"></a> 
            <div class="btns">
            <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>  
            </div>         
        </span>
        <span class="slide">
            <a href=""><img src="../assets/images/f4.jpg" alt="" width="150" height="200"></a>
            <div class="btns">
            <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
        </div>
        </span>    
    </div>
    
