<h1 align="center">Genres</h1>
<div id="header" class="scroll">
    <span class="genrePic">
        <img src="../assets/images/literature.jpg" alt="Literature" width="150" height="200">
    </span>
    <span class="genrePic">
        <img src="../assets/images/fiction.png" alt="Fiction" width="150" height="200">
    </span>
    <span class="genrePic">
        <img src="../assets/images/horror.jpeg" alt="Horror" width="150" height="200">
    </span>
<br><br>
    <span class="btName">
        <a routerLink="/literature"><button class="btn btn-primary" type="button" style="width: 150px; height: 40px;">Literature</button></a>
    </span>
    <span class="btName">
        <a routerLink="/fiction"><button class="btn btn-primary" type="button" style="width: 150px; height: 40px;">Fiction</button></a>
    </span> <span class="btName">
        <a routerLink="/horror"><button class="btn btn-primary" type="button" style="width: 150px; height: 40px;">Horror</button></a>
    </span>
</div>