#header{
    width:100%;
    text-align:left;
    padding:5px;
    /*white-space:nowrap;*/
}
/*div.scroll{
    overflow-y: auto;
   overflow-x: hidden;
    width:100px;
    height: 1000px;
    
}*/
span{
    display:inline-block;
    margin:25px;
}
#header .slide{
    display: inline-block;
}
h1{
    text-align: center;
}