<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Collections</title>
    </head>
    <body>
        <h1>New Collections</h1>
        <div id="header" class="scroll">
            <span class="slide">
                <a href="../assets/textFiles/1984.txt"><img src="../assets/images/1984.jpg" alt="1984" width="150" height="200"></a>
            </span>
            <span class="slide">
                <a href="../assets/textFiles/TheIlluminated.txt"><img src="../assets/images/The Illuminated.jpg" alt="The Illuminated" width="150" height="200"></a>               
            </span>
            <span class="slide">
                <a href="../assets/textFiles/Ghosts Of The Silent Hills.txt"><img src="../assets/images/Ghosts Of The Silent Hills.jpeg" alt="Ghosts Of The Silent Hills" width="150" height="200"></a>
            </span>    
    </div>
    </body>
